<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="icon"  type="image/png" href="/img/businessman.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank Information Jobs</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link href="/css/main.css" rel="stylesheet">

</head>

<body>
<div class="container">
    <header>
        <nav class="navbar navbar-expand-lg ">
            <div class="container-fluid">
                <a class="navbar-brand text-white title" th:href="@{/home}" >BANKJOBS</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active text-black" aria-current="page" th:href="@{home/buscarProfesional}">Buscar Profesional</a>
                            <a class="nav-link active text-black" aria-current="page" ></a>
                        </li>
                        <li class="nav-item text-white">
                            <a class="nav-link text-black" th:href="@{/home/saveProfesional}">Crear Profesional</a>
                        </li>
                    </ul>
                    <div class="row">
                        <div sec:authorize="isAuthenticated()">
                            <form id="logoutForm" method="POST" th:action="@{/logout}">
                                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                            </form>
                            <h4>Usuario: <span sec:authentication="name"></span> | <a class="btn btn-primary" onclick="document.forms['logoutForm'].submit()">Logout</a></h4>
                        </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
                <h1 class="text-center">View  Profesional</h1>
                <div class="card-body">
                    <form th:action="@{/saveProfesional}" th:object="${profesionalDto}"  method="POST">
                        <div class="form-group">
                            <input type="hidden" name="id" th:field="*{id}" class="form-control"
                                   readonly="readonly">
                        </div>
                        <div class="form-group">
                            <label type="text">nombre</label>
                            <input type="text" name="nombre"   th:field="*{nombre}" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label type="text">apellido</label>
                            <input type="text" name="apellido"   th:field="*{apellido}" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label type="number">telefono</label>
                            <input type="text" name="telefono"   th:field="*{telefono}"  class="form-control" required>
                        </div>

                        <div class="form-group">
                            <label type="text">Profesion</label>
                            <input type="text" name="profesion"  th:field="*{profesion}" class="form-control" required>
                        </div>

                        <div class="form-group">
                            <label type="text">correo</label>
                            <input type="email" name="correo"   th:field="*{correo}" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label type="text">Ciudad</label>
                            <input type="text" name="ciudad"   th:field="*{ciudad}" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label type="text">barrio</label>
                            <input type="text" name="barrio"    th:field="*{barrio}" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label type="text">Direccion</label >
                            <input type="text" name="direccion" th:field="*{direccion}"  class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label type="text">imageUrl</label>
                            <input type="text" name="imageUrl"  th:field="*{imageUrl}" class="form-control" required>
                        </div>
                        <div class="form-group mt-3" >
                            <button type="submit" class="btn btn-info col-2">Guardar.</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
<script src="/js/main.js"></script>
</body>
</body>

</html>